body{
    background-color:/* #FADADD;*/white;
    font-family:'Roboto', sans-serif;
}
.signup-box{
    width:360px;
    height:620px;
    margin:auto;
    background-color:rgb(221, 185, 139);

}
.login{
    width:360px;
    height:280px;
    margin:auto;
    border-radius:3px;
    background-color:/*#FFF8E1;*/ rgb(221, 185, 139);
}
   
h1{
    text-align:center;
    padding-top:15px;
}
form{
    width:300px;
    margin-left:20px;
}
form label{
    display:flex;
    margin-top:20px;
    font-size:18px;
}
form input{
    width:100%;
    padding:10px;
    border:none;
    border:1px solid gray;
    border-radius:6px;
    outline:none;
}
button[type="submit"]{
    height:35px;
    margin-top:20px;
    border:none;
    background-color:rgb(220, 201, 167);
    font-size:18px;
   
}
